<main class="page__main">
  <form class="js-form" method="GET">
    <input
      class="js_search-input"
      type="text"
      name="search"
      id="search"
      placeholder="Ej: House"
    />
    <button class="js-search-button">Search</button>
  </form>
  <div>
    <div class="searchResult_container">
      <ul class="searchResult js-searchResult">
        <!--<li class="searchResult_elem js-searchResult_elem">
          <img
            class="searchResult_elem-img"
            src="https://static.tvmaze.com/uploads/images/medium_portrait/31/78286.jpg"
            title="Girls"
            alt=""
          />
          <h2>"Girls"</h2>
        </li> -->
      </ul>
    </div>
  </div>
</main>
