<main class="page__main">
  <form class="js-form" method="GET">
    <input
      class="js_search-input"
      type="text"
      name="search"
      id="search"
      placeholder="Ej: House"
    />
    <button class="js-search-button">Search</button>
  </form>
  <div>
    <ul class="searchResult js-searchResult"></ul>
    <section class="favouriteSection">
      <h2 class="favourite_section-title js-favouriteSectionTitle">
        Mis series favoritas
      </h2>
      <ul class="js-favouriteSectionList favourite_section-list"></ul>
    </section>
    <h2></h2>
  </div>
</main>
