<main class="page__main">
  <form class="js-form" method="GET">
    <input
      class="js_formInput form__input"
      type="text"
      name="search"
      id="search"
      placeholder="Ej: House"
    />
    <button class="js-formButton form__button">Search</button>
  </form>
  <div class="series_container">
    <section class="searchResult-container">
      <ul class="searchResult js-searchResult"></ul>
    </section>
    <section class="fav_section js-favSection">
      <h2 class="fav_section-title js-favSectionTitle">Mis series favoritas</h2>
      <ul class="js-favListCompleted fav_list-completed"></ul>
    </section>
    <h2></h2>
  </div>
</main>
