$title-font: "Tourney";

$blue: #35a6a8;
$red: #ab3e37;
$pink: #f56f67;
$orange: #ab760e;
$yellow: #f5b436;
$lightpink: #ffc0cb;
$bluewhite: #e8f0fe;
$grey: #1f1f12;
$lightyellow: #f5dfb3;
