$title-font: "Tourney";

$greymedium: rgb(90, 97, 104);
$lightyellow: #f5efe3;
$blue: #35a6a8;
$red: #ab3e37;
$pink: #f56f67;
$orange: #ab760e;
$yellow: #f5b436;
$bluewhite: #e8f0fe;
$grey: #1f1f12;
$lightgrey: #bfcdd0;
$lightpink: #fac7c4;
