body {
  font-family: $title-font;
  box-sizing: border-box;
  font-family: $title-font;
}

.page__header {
  &--link {
    text-decoration: none;
  }
  &--title {
    padding: 40px 20px 20px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    color: $blue;
    @media all and (min-width: 800px) {
      font-size: 50px;
    }
    @media all and (min-width: 1208px) {
      font-size: 55px;
    }
  }
}
.fa-video {
  font-size: 50px;
  color: $pink;
  height: 50px;
  border-radius: 10px;
}

.form {
  &__input {
    color: $grey;
    width: 70%;
    font-size: 18px;
    font-weight: 900;
    height: 30px;
    padding: 10px;
    margin: 30px 0px 20px 30px;
    outline: none;
    background-color: $bluewhite;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    border-bottom: 2px solid $yellow;
    border-right: 2px solid $yellow;
    &::placeholder {
      color: $greymedium;
    }
  }
  &__button {
    font-family: $title-font;
    color: $grey;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    padding: 10px;
    margin: 20px 30px;
    height: 40px;
    border: none;
    border-radius: 20px;
    border-bottom: 2px solid $yellow;
    border-right: 2px solid $yellow;
    text-transform: uppercase;
    background-color: $bluewhite;
    &:hover {
      background-color: $yellow;
      border-bottom: 2px solid $yellow;
      border-right: 2px solid $yellow;
      box-shadow: 2px 2px 2px;
      color: $grey;
      transform: translateY(-2px);
    }
  }
}

.series_container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: auto;
  @media all and (min-width: 800px) {
    grid-template-columns: auto 70vw;
    grid-template-rows: 1fr;
  }
  @media all and (min-width: 1080px) {
    grid-template-columns: 30vw 70vw;
    grid-template-rows: 1fr;
  }
}
.searchResult {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 0px;
  margin: 15px 30px 0px 30px;
  grid-column: 1;
  grid-row: 2/4;
  @media all and (min-width: 800px) {
    grid-column: 2/4;
    grid-row: 1;
    margin: 15px 0px 0px 0px;
    width: 65vw;
  }
  &_elem {
    border: solid $yellow 5px;
    border-radius: 20px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 227.27px;
    height: 300px;
    padding: 10px;
    &:hover {
      background-color: $lightpink;
    }

    &-img {
      width: 150px;
      height: 200px;
      border-radius: 5px;
    }
  }
}

.fav_section {
  background-color: $bluewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  margin: 10px 20px 10px 30px;
  border-top: solid 2px $blue;
  border-right: solid 2px $blue;
  width: 80vw;
  grid-column: 1;
  grid-row: 1/2;
  padding: 10px 0;

  @media all and (min-width: 800px) {
    border-right: solid 5px $blue;
    border-top: none;
    float: left;
    margin: 15px 20px 10px 30px;
    grid-column: 1/2;
    grid-row: 1;
    width: 28vw;
    max-width: 450px;
  }
  &-list {
    padding: 0 10px;
    margin: 2px;
    border: solid $pink 2px;
    width: 131px;
    height: 175px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  &-title {
    font-family: $title-font;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    color: $red;
    padding: 10px 0;
    @media all and (min-width: 800px) {
      padding: 20px;
      font-size: 24px;
    }
  }
}
.fav_list-completed {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  min-width: 100vw;
  @media all and (min-width: 800px) {
    min-width: 300px;
  }
}

.fav_elem {
  &-delete {
    color: $grey;
    font-size: 14px;
    text-align: center;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    border-bottom: 2px solid $yellow;
    border-right: 2px solid $yellow;
    text-transform: uppercase;
    background-color: $blue;
    position: absolute;
    transform: translate(-55px, -80px);
    &:hover {
      background-color: $yellow;
      border-bottom: 2px solid $yellow;
      border-right: 2px solid $yellow;
      box-shadow: 2px 2px 2px;
      color: $grey;
      transform: translate(-57px, -82px);
    }
  }
  &-img {
    width: 90px;
    height: 120px;
    border-radius: 5px;
  }
  &-serieTitle {
    font-size: 13px;
    padding: 5px 0px;
  }
}

.serie--favorite {
  background-color: $yellow;
  border: solid $pink 5px;
}
.js-hidden {
  display: none;
}
