.page__header {
  &--link {
    text-decoration: none;
  }
  &--title {
    padding: 40px 20px 20px 30px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    color: $blue;
    @media all and (min-width: 800px) {
      font-size: 50px;
    }
    @media all and (min-width: 1208px) {
      font-size: 55px;
    }
  }
}
.fa-video {
  font-size: 50px;
  color: $pink;
  height: 50px;
  border-radius: 10px;
}
